table{background-color: cyan;padding: 20px;}
input{
    border: 0;
    outline: 0;
}
.inp{
    width: 50%;
}
th{
    font-size: 30px;
    margin: 15px;
    padding: 10px;
}
#register{
    border-width: 2px;
    border-color: black;
    border-style: double;
    margin: 10px;
    padding: 10px;
}
td{
    margin: 10px;
    padding: 10px;
}
#submit{
    padding: 10px;
    border: 2px;
    border-style:groove;
}
#reset{
    padding: 10px;
    border: 2px;
    border-style:groove;
}
#add{
    width: 310px;
}
#yyyy{
    width: 80px;
}